<!DOCTYPE html>
<html>
  <head>
    {{{headContent}}}

    <title>
      Steamsig: {{title}}
    </title>
  </head>
  <body>
    {{{body}}}
    <a href="http://www.steampowered.com">Powered by Steam.</a>
  </body>
</html>

