<!DOCTYPE html>
<html>
  <head>
    {{{headContent}}}

    <title>
      Steamsig: {{title}}
    </title>
  </head>
  <body>
    {{{body}}}

    <footer style="position:absolute;bottom:0">
      <a href="http://www.steampowered.com">Powered by Steam.</a>
    </footer>
  </body>
</html>