<h2> Steam Signature Generator </h2>

<p>
  <form action='/profile' method='post'>
    <p>
      {{#if messages}}
      <div name="messages" style="color: #0900C4; 12pt; border: 1px solid black;">
        <ul>
        {{#each messages}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}

      <div>
        Enter your Steam ID or custom name:<br>
        <input type='text' id="uinput" oninput="validateSteamIdPattern()" name='steamid' value="{{{steamIDInputValue}}}" autofocus>
        <div id="inputfeedback" style="display:none; 12pt;"></div>
      </div>

      NOTE: custom name is the name that appears at the end of your URL.<br>
      Example: for steamcommunity.com/id/robinwalker, you would use robinwalker.<br><br>
      
      <div>
        Customization Options:<br>
        {{#each elements}}
          {{this}}: <input type='checkbox' name='{{@key}}' checked='true'> |
        {{/each}}
      </div>

      <input type='submit' value='Submit'><br>
    </p>

    Keep in mind that this is a work in progress!<br>

    <ul>Updates:
      <li>March 8, 2017: Optimizations, refactoring, and toggleable
      sig elements! Technically most customization options are currently possible (like background color, image size, and 
      element placement). All that is needed is the ability to collect that data from the web form and pass it into my renderer. 
      Work in progress!</li> 
      <li>February 17, 2017: Profiles can only update once every 10 seconds. Render error pages instead of sending text.
      <li>December 13, 2016: Some behind the scenes changes to prep for customization</li>
      <li>November 4, 2016: Brand new renderer using Canvas!</li>
      <li>October 22, 2016: Throw validation error when input matches
      Steam ID pattern but is not an existing Steam ID.</li>
      <li>October 8, 2016: Under the hood reorganization and unit testing.</li>
      <li>March 17, 2016: added recent game logos to the sig.</li>
    </ul>
  </form>
</p>


<script>
function validateSteamIdPattern() {
  var input = document.getElementById("uinput").value;
  var feedbackDiv = document.getElementById("inputfeedback");
  
  if (input === "") {
    feedbackDiv.style.display = "none";

  } else if (input.substr(0,7) !== "7656119"
    || input.length !== 17
    || isNaN(input.substr(8,16))) {

    feedbackDiv.innerHTML = "Not a valid Steam ID. Submission will be treated as a custom name.";
    feedbackDiv.style.display = "inline";
    feedbackDiv.style.color = "blue";

  } else {
    feedbackDiv.innerHTML = "Valid Steam ID!";
    feedbackDiv.style.display = "inline";
    feedbackDiv.style.color = "green";
  }
}
</script>