<h2> Steam Signature Generator </h2>

<p>
  <form action='/form-handler' method='get'>
    <p>
      Enter your Steam ID or custom name:<br>
      <input type='text' name='steamid'>
      <input type='submit' value='Submit'><br>
      NOTE: custom name is the name that appears at the end of your URL.<br>
      Example: for steamcommunity.com/id/robinwalker, you would use robinwalker.
    </p>
    Keep in mind that this is a work in progress!<br>

    <ul>Updates:
      <li>October 22, 2016: Throw validation error when input matches
      Steam ID pattern but is not an existing Steam ID.</li>
      <li>October 8, 2016: Under the hood reorganization and unit testing.</li>
      <li>March 17, 2016: added recent game logos to the sig.</li>
    </ul>
  </form>
</p>