<h2> Steam Signature Generator </h2>

<p>
  <form action='/form-handler' method='get'>
    <p>
      Enter your Steam ID or custom name:<br>
      <input type='text' name='steamid'><br>
      NOTE: custom name is the name that appears at the end of your URL.<br>
      Example: for steamcommunity.com/id/robinwalker, you would use robinwalker.
    </p>
    <input type='submit' value='Submit'>
  </form>
</p>