<h2> Customize your profile. </h2>

<p>
  <form action='/display' method='get'>
    <p>
      Enter your Steam ID:
      <input type='text' name='steamid'>
    </p>
    <input type='submit' value='Submit'>
  </form>
</p>