<div id="profile-container" style="display:inline-block;margin:auto;background-color:#1f1f1f;">
  <img src={{imgSrc}} style="padding:10px;"/>
  <p id="direct-url" onclick="selectUrl()" style="margin:1px;background-color:white;text-align:center">steamsig.drakemain.com{{imgSrc}}</p>
</div>

<script>
  function selectUrl(){
    var urlElement = document.getElementById('direct-url');
    var range = document.createRange();
    var selection = window.getSelection();

    selection.removeAllRanges();
    range.selectNodeContents(urlElement);
    selection.addRange(range);
  }
</script>